src/*.exe
src/facecoin
src/facecoind
src/test_facecoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.facecoin
#compilation and Qt preprocessor part
*.qm
Makefile
facecoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
